h1{
    color: black;
}

.cardHiper {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 100px; /* Increased padding */
    width: 500px; /* Further increased width */
    font-size: 24px; /* Slightly increased font size */
}

.cuadroHiper {
    background-color: #FC0848; /* Color de fondo */
    width: 100%; /* Ancho del cuadro */
    height: 600px; /* Alto del cuadro */
    color: #ffffff; /* Color del texto dentro del cuadro */
    font-size: 18px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    position: relative;
    overflow: hidden;
    margin-top: 0px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.cuadroAzulHiper {
    background-color: #476C8B; /* Color de fondo */
    width: 100%; /* Ancho del cuadro */
    height: 600px; /* Alto del cuadro */
    color: #ffffff; /* Color del texto dentro del cuadro */
    font-size: 18px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    position: relative;
    overflow: hidden;
    margin-top: 0px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */

}