.Enfermedades{

        background: linear-gradient(90deg, #000000 0%, #FC0848 100%);
        width: 100%;
        height: 100px;
        margin-top: 0px;
}

.Enfermedades h1 {
        color: white;
}
